.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: rem(650px);
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.container {
  width: rem(940px);
  margin: 0 auto;
  position: relative; }

.section__title_about {
  font: 400 rem(72px) gagalinregular;
  text-align: center;
  color: #2f3234;
  margin-top: rem(-120px); }

.about-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__item {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: center; }

.about__title {
  font: rem(24px) lifehackmedium;
  color: #2f3234;
  text-align: center;
  margin-bottom: rem(20px); }

.about__desc {
  font: 300 rem(14px) ubuntulight;
  color: rgba(47, 50, 52, 0.8);
  text-align: center;
  margin: 0; }
