.wrapper {
  width: 100%;
  height: 100%;
  min-height: 650px; }

.section {
  height: 100%;
  min-width: 940px;
  min-height: 650px; }

.welcome__section {
  background-image: url(".././img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px; }

.header__navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto; }

.header__logo {
  height: 69px;
  width: 92px; }

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.navig {
  font: 500 13px ubuntumedium;
  list-style: none;
  padding: 0;
  margin-right: 13px;
  color: #ffffff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.navig__item:last-child .navig__link:after {
  display: none; }

.navig__link {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .navig__link:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 16px; }

.button__order {
  font: 500 13px ubuntumedium;
  padding: 10px 15px;
  background: #e25028;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .button__order:hover {
    background-color: #cb411b; }

.welcome__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh; }

.welcome__img-burger {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.welcome__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin-left: 10px; }

.welcome__title-capion_one {
  font: 72px gagalinregular;
  text-transform: uppercase;
  color: #f8b43a;
  margin-bottom: 15px; }

.welcome__title-caption_two {
  font: 65px/60px lifehackmedium;
  color: #ffffff; }

.section__about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 650px;
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.container {
  width: 940px;
  margin: 0 auto;
  position: relative; }

.section__title_about {
  font: 400 72px gagalinregular;
  text-align: center;
  color: #2f3234;
  margin-top: -120px; }

.about-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.about__item {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: center; }

.about__title {
  font: 24px lifehackmedium;
  color: #2f3234;
  text-align: center;
  margin-bottom: 20px; }

.about__desc {
  font: 300 14px ubuntulight;
  color: rgba(47, 50, 52, 0.8);
  text-align: center;
  margin: 0; }

.section__team {
  background: url("../img/bg/bg-team.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 650px;
  height: 100vh; }

.team-acco__pic-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px; }

.section-title {
  color: #f8b43a;
  font: 400 72px gagalinregular; }

.team-acco__trigger {
  font: 400 14px gagalinregular;
  color: #ffffff;
  text-decoration: none; }

.team-acco__text-title {
  font: 700 14px ubuntulight;
  color: #ffffff; }

.team-acco__text-content {
  font: 300 14px ubuntulight;
  color: #ffffff; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 50px; }

.team-acco__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 41px; }

.team-acco__content {
  display: none; }

.team-acco__item_active .team-acco__trigger {
  color: #f8b43a; }

.team-acco__item_active .team-acco__content {
  display: -webkit-inline-flex; }

.team-acco__item {
  margin: 35px; }

.menu {
  background-image: url("../img/bg/bg-menu.jpg");
  background-size: cover;
  position: relative;
  height: 100vh;
  min-height: 650px; }

.menu-accord {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-accord__item, .menu-accord__link {
  height: 100%;
  display: block;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-accord__link {
  width: 80px;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu-accord__item-type-active .menu-accord__description {
  width: 550px;
  padding: 63px 35px; }

.menu-accord__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-accord__description {
  width: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu-accord__title {
  font: 400 40px gagalinregular;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  display: inline-block;
  white-space: nowrap;
  color: #ffffff;
  line-height: 5px; }

.section__title-type-white {
  font: 400 72px gagalinregular;
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-accord__text {
  font: 300 14px ubuntulight;
  color: #ffffff;
  line-height: 24px;
  margin: 0px; }

.selection__reviews {
  min-height: 650px;
  height: 100vh; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 100%; }

.reviews__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
  -ms-flex: 1 0 25%;
  flex: 1 0 25%;
  height: 50%;
  position: relative; }
  .reviews__item:hover > .reviews__desc {
    visibility: visible;
    opacity: 1; }

.reviews__img {
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  width: 100%;
  height: 100%; }

.reviews__desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 60px 29px;
  background: rgba(20, 20, 20, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.reviews__name {
  font: 14px gagalinregular;
  color: #ffffff;
  margin-bottom: 15px; }

.reviews__text {
  font: 300 14px/24px ubuntulight;
  color: #ffffff; }

.reviews__link:hover {
  background: #2f3234; }

.btn {
  border-radius: 5px;
  font: 500 13px ubuntumedium;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 15px; }

.btn_gray {
  background: #2f3234; }

.section_order {
  background: url("../img/bg/order-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 650px;
  height: 100vh; }

.container__order {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

h2 {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 79px;
  font: 400 72px gagalinregular;
  color: #f8b43a; }

.order__form-buttons {
  margin-right: 42px; }

.order__form {
  margin-left: -5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order__form-col {
  width: 45%;
  margin-left: 5%; }

.order__form-label {
  margin-bottom: 17px;
  font: 300 ubuntulight;
  color: #ffffff;
  font-size: 14px; }

.order__form-input {
  font-size: 14px;
  padding: 10px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  width: 100%; }

.order__form-block {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 40px; }
  .order__form-block :last-child {
    margin-right: 0px; }

.order__form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px; }

.order__form-input_textarea {
  height: 110px;
  resize: none; }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px; }

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  position: relative; }
  .order__radio-fake:after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: #e25028;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
    transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 8px;
  height: 8px; }

.order__radio-title {
  font-size: 14px;
  color: #ffffff;
  font: 300 ubuntulight;
  margin-left: 10px; }

.order__form-button {
  margin-right: 20px;
  border: 0;
  background: #e25028;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  font: 13px 300 ubuntumedium;
  padding: 10px 15px;
  cursor: pointer; }

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.section__map {
  height: 100vh;
  min-height: 600px;
  background: url("../img/bg/map-bg.jpg") center center no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.points {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 91px;
  right: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1000; }

.points__item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative; }
  .points__item:after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .points__item:hover {
    border: 1px solid #ffffff; }

.arrow {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.greeting__arrow-arrow {
  width: 27px;
  height: 14px;
  display: inline-block; }

.footer {
  background: url("../img/bg/bg-map.jpg") center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.info__footer {
  width: 50%;
  margin-bottom: 15px; }

.address {
  color: #ffffff;
  font: 300 14px ubuntulight; }

.phone {
  color: #e25028;
  text-decoration: none;
  font: 14px bold ubuntulight; }

.info__footer-social {
  text-align: right;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.social {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.socials__item {
  margin-left: 10px; }

.socials__link {
  display: inline-block; }
