$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;

.about{
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: rem(650);
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    }
    // .container{
    // width: rem(940);
    // margin: 0 auto;
    // position: relative;
    // }
    .section__title_about{
    // margin:0 82 87 0px;
    font: 400 rem(72)gagalinregular;
    text-align: center;
    color: $dark;
    margin-top: rem(-120);
    
    }
    .about-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    @include phones {
        flex-direction: column;
      }
    }
    .about__item{
    flex:3;
    text-align: center;
    @include phones {
        flex-direction: row;
      }
    
    }
    .about__title{
    font:rem(24) lifehackmedium;
    color: $dark;
    text-align: center;
    margin-bottom: rem(20);
    }
    .about__desc{
    font:300 rem(14)ubuntulight;
    color: rgba(47,50,52,.8);
    text-align: center;
    margin: 0;
    }