.arrow{
    text-align: center;
    position: absolute;
    left:50%;
    bottom: rem(50);
    transform: translateX(-50%);
    }
    .greeting__arrow-arrow{
    width: rem(27);
    height: rem(14);
    display: inline-block;
    }