$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white:#ffffff;

.footer__end{
    background: url('../img/bg/bg-map.jpg') center bottom no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:rem( 10px )0;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  
  .info__footer {
    flex: 1;
    // width: 50%;
    // margin-bottom: 15px;
  
  }
  
  .address {
    color: $white;
    font: 300 rem( 14px )ubuntulight;
  }
  
  .phone {
    color: $orange;
    text-decoration: none;
    font:rem( 14px ) bold ubuntulight;
  }

.info__footer_social {
  text-align: right;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
  

  
  