.nav-hamburger__line{
    width: rem(20);
    height: rem(6);
    background: #fff;
    display: inline-block;
    border-radius: rem(2);
    margin-top: rem(2);
    

}
.nav-hamburger{
    // display: flex;
    // flex-direction: column;
    margin: auto rem(30);
    display: none;
    margin-top: rem(-6);
    @include tablets {
        display: flex;
        flex-direction: column;
      }
      @include phones {
        display: flex;
        flex-direction: column;
      }
    }
