$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white:#ffffff;

$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


.wrapper{
width: 100%;
height: 100%;
min-height: rem(650);
}
.section {
height: 100%;
min-width: rem(940);
min-height: rem(650);
}

@function rem ($size){
    @return ($size/16)+rem;
  }
  
  @mixin tablets {
    @media screen and (max-width: $tablets) {
      @content;
    }
  }
  
  @mixin phones {
    @media screen and (max-width: $phones) {
      @content;
    }
  }

  html {
    font-size: rem(16);
    
        @include tablets {
          font-size: rem(15);
        }
      
        @include phones {
          font-size: rem(13);
        }
      }



@import "./welcome.scss";
@import "./about.scss";
@import "./team.scss";
@import "./menu.scss";
@import "./reviews.scss";
@import "./order.scss";
@import "./map.scss";
@import "./points.scss";
@import "./arrow.scss";
@import "./footer.scss";
@import "./social.scss";
@import "./hamburger.scss";





  // @function rem ($size){
  //   @return ($size/16)+rem;
  // }
 
  // $baseFontSize : 14;
  // @function rem($pixels, $context: $baseFontSize) {
  //   @if (unitless($pixels)) {
  //     $pixels: $pixels * 1px;
  //   }
  
  //   @if (unitless($context)) {
  //     $context: $context * 1px;
  //   }
  
  //   @return $pixels / $context * 1rem;
  // }
 