$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white:#ffffff;

.wrapper{
width: 100%;
height: 100%;
min-height: 650px;
}
.section {
height: 100%;
min-width: 940px;
min-height: 650px;
}

// 1-pages
.welcome__section{
background-image: url('.././img/bg/hero_bg.png') ;
background-repeat: no-repeat;
background-size: cover;
display: flex;
}
.container{
width: 940px;
margin: 0 auto;
position: relative;
}
.header{
align-items: center;
display: flex;
padding-top: 26px;
}
.header__navigation{
display: flex;
align-items: center;
margin-left: auto;
}
.header__logo{
height: 69px;
width: 92px;
}
.navigation{
display: flex;
justify-content: space-between;
align-content: center;
}
.navig{
font: 500 13px ubuntumedium ;
list-style: none;
padding: 0;
margin-right: 13px;
color:$white;
text-transform: uppercase;
display:flex;
}

.navig__item {
&:last-child {
    .navig__link:after {
    display: none;
    }
}
}

.navig__link {
color: #fff;
text-decoration: none;
display: flex;
align-items: center;

&:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;   
    margin: 0 16px;
}
}
.button__order {
font:500 13px ubuntumedium;
padding: 10px 15px;
background: $orange;
color: #fff;
text-decoration: none;
border-radius: 5px;
display: inline-block;
line-height: 1.42;
text-transform: uppercase;
transition: .5s;
&:hover {
    background-color: darken($orange, 7%);
    }
}
.welcome__content{
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
height: 100vh;
}
.welcome__img{
display: flex;
justify-content: center;
flex:1;
}
.welcome__img-burger{
align-self: center;
flex: 1;
// margin-top: -267px;
}
.welcome__title{
display: flex;
flex-direction: column;
width: 450px;
margin-left: 10px;
}
.welcome__title-capion_one{
font:72px gagalinregular;
text-transform: uppercase;
color:$yellow;
margin-bottom: 15px;
}
.welcome__title-caption_two{
font: 65px/60px lifehackmedium;
color: $white;
}

.arrow{
text-align: center;
position: absolute;
left:50%;
bottom: 50px;
transform: translateX(-50%);
}
.greeting__arrow-arrow{
width: 27px;
height: 14px;
display: inline-block;
}
.points{
position: fixed;
display: flex;
flex-direction: column;
top:91px;
right: 50px;
margin: 0;
padding: 0;
list-style: none;
z-index: 1000;
}
.points__item{
width: 16px;
height: 16px;
border-radius: 50%;
position: relative;
&:after{
content: "";
width: 6px;
height: 6px;
position: absolute;
border-radius: 50%;
background: $white;
margin-left: 50%;
margin-top: 50%;
transform: translate(-50%,-50%);
}
&:hover{
border: 1px solid $white;

}
}

// 2-page

.section__about{
display: flex;
align-items: center;
height: 100vh;
min-height: 650px;
background-image: url('../img/bg/best-bg.png');
background-repeat: no-repeat;
background-position: 50%;
background-size: cover;
position: relative;
}
.container{
  width: 940px;
  margin: 0 auto;
  position: relative;
  }
.section__title_about{
margin:0 82 87 0px;
font: 400 72px gagalinregular;
text-align: center;
color: $dark;

}
.about-list{
display: flex;
list-style-type: none;
margin: 0;
padding: 0;
align-items: center;
}
.about__item{
flex:3;
text-align: center;

}
.about__title{
font:24px lifehackmedium;
color: $dark;
text-align: center;
margin-bottom: 20px;
}
.about__desc{
font:300 14px ubuntulight;
color: rgba(47,50,52,.8);
text-align: center;
margin: 0;
}

// 6-page

.selection__reviews{
// min-width:1100px ;
min-height: 650px;
height: 100vh;

}

.reviews__list{
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-flow: row wrap;
// min-width: 1100px;
height: 100%;
}
.reviews__item{
flex: 1 0 25%;
height: 50%;
position: relative;
&:hover > .reviews__desc{
visibility: visible;
opacity: 1;
}
}
.reviews__img {
filter: grayscale(100);
width: 100%;
height: 100%;

}
.reviews__desc {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
padding: 60px 29px;
background: rgba(20,20,20,.6);
opacity: 0;
visibility: hidden;
box-sizing: border-box;
}
.reviews__name {
font: 14px gagalinregular;
color: $white;
margin-bottom: 15px;
}
.reviews__text {
font: 300 14px/24px ubuntulight;
color: $white;
}
.reviews__link {
&:hover {
background: $dark;
}
}
.btn{
border-radius: 5px;
font:500 13px ubuntumedium;
color: $white;
text-transform: uppercase;
text-decoration: none;
padding: 10px 15px;
}
.btn_gray{
background: $dark;
}

// page5
.menu{
    background-image: url('../img/bg/bg-menu.jpg');
    background-size: cover;
    position: relative;
    height: 100vh;
    min-height: 650px;
}
.menu-accord{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.menu-accord__item,.menu-accord__link{
    height: 100%;
    display: block;
    position: relative;
    display: flex;
}
.menu-accord__link{
    width: 80px;
    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    
}
.menu-accord__item-type-active .menu-accord__description{
    width: 550px;
    padding: 63px 35px;
}
.menu-accord__item{
    display: flex;
}
.menu-accord__description{
    width: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
    box-sizing: border-box;
   
}
.menu-accord__title{
    font: 400 40px gagalinregular;
    position: absolute;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    display: inline-block;
    white-space: nowrap;
    color: $white;
    line-height: 5px;
}
.section__title-type-white{
font: 400 72px gagalinregular;
color: $white;
position: absolute;
top: 10%;
left: 10%;
}
.menu-accord__text{
    font: 300 14px ubuntulight;
    color: $white;
    line-height: 24px;
    margin: 0px;
}
// page4

.section__team {
    background: url('../img/bg/bg-team.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    min-height: 650px;
    height: 100vh;
    }
    .team-acco__pic-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 30px;
    }
    .section-title{
        color: $yellow;
        font: 400 72px gagalinregular;
    }
    .team-acco__trigger{
        font: 400 14px gagalinregular;
        color: $white;
        text-decoration: none;

    }
   .team-acco__text-title{
       font: 700 14px ubuntulight;
       color: $white;
   }
   .team-acco__text-content{
       font:300 14px ubuntulight;
       color: $white;
   }
  .team__container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

  }
  .team-acco__content {
    display: flex;
  }
  .team-acco__content {
    display: none;
  }
  .team-acco__item_active {
    .team-acco__trigger {
      color: $yellow;
    }
    .team-acco__content {
      display: -webkit-inline-flex;
    }
  }




//   page7

.section_order{
  background: url('../img/bg/order-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 650px;
  height: 100vh;
}
.container__order{
       width: 940px;
      margin: 0 auto;
      position: relative;
      
}
.section__title_order{
    font: 400 72px gagalinregular;
    color: $yellow;
    padding: 84px 218px;
}
.order__form {
    margin-left: -5%;
    display: flex;
}
.order__form-col {
    width: 45%;
    margin-left: 5%;
  }

.order__form-row {
    margin-bottom: 16px;
    display: flex;
  }
  
  .order__form-label {
    margin-bottom: 17px;
    font: 300 ubuntulight;
    color: $white;
    font-size: 14px;
  }
  
  .order__form-input {
    font-size: 14px;
    padding: 10px;
    padding: 5px 10px;
    border: 1px solid #d1cfcb;
    border-radius: 5px;
    width: 100%;
  }
  
  .order__form-block {
    display: block;
    width: 100%;
    flex: 1;
    margin-left: 10px;
  }
  
  .order__form-row {
    display: flex;
    margin-left: -10px;
  }
  
  .order__form-input_textarea {
    height: 110px;
    resize: none;
  }
  
  .order__radio {
    position: relative;
    white-space: nowrap;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .order__radio-elem {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  
  .order__radio-fake {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $white;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: $orange;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width .3s, height .3s;
    }
  }
  
  .order__radio-elem:checked {
    &+.order__radio-fake {
      &:after {
        width: 8px;
        height: 8px;
      }
    }
  }
  
  .order__radio-title {
    font-size: 14px;
    color: $white;
    font: 300 ubuntulight;
    margin-left: 10px;
  }
  
  
  .order__form-button {
    margin-right: 20px;
    border: 0;
    background: $orange;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    color: $white;
    font: 300 ubuntumedium;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .order__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
  }
//   page8
.section__map{
    background: url('../img/bg/map-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    min-width:1100px ;
    min-height: 650px;
    height: 100vh;
}