
.section__map {
    height: 100vh;
    min-height: 650px;
    background-image: url('../img/bg/map-bg.jpg') center center no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
  }
  
 