$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white:#fff;

  .order{
  background: url('../img/bg/order-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  min-height: rem(650);
  height: 100vh;
  }
  // .container__order{
  // width: rem(940);
  // margin: 0 auto;
  // position: relative;
  // display: flex;
  // flex-direction:column;
  //  margin-top: rem(40);
  // }

  .section__title_order{
  // margin-top: rem(40);
  text-align: center;
  margin-bottom: rem(79);
  font: 400 rem( 72 )gagalinregular;
  color: $yellow;
  }
  .order__form {
  margin-left: -5%;
  display: flex;
  @include tablets {
    // display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  }
  .order__form-col {
  width: 45%;
  margin-left: 5%;
 
  @include tablets {
    width: 100%;
    margin-left: 0;
    padding: 0 20%;
  }
  }

  .order__form-row {
  display: flex;
  margin-bottom: rem(16);
  }

 
  .order__form-label {
    margin-right: rem(20);
  margin-bottom: rem(17);
  font: 300 ubuntulight;
  color: $white;
  font-size: rem(14);
  flex: 1;
  }
  .order__form-block {
  // display: block;
  width: 100%;
  flex: 1;
  margin-right: rem(40);

  & :last-child {
  margin-right: rem(0);
  }
  }
  .order__form-input {
  font-size: rem(14);
  // padding: 10;
  padding:rem( 5 ) rem(10);
  border:rem(1) solid #d1cfcb;
  border-radius: rem(5);
  width: 100%;
  box-sizing: border-box;
  color: black;
  }
  // .order__form-input:focus {
  //   background: rgb(136, 132, 132); 
  //   border: 1px solid $yellow;
  // }
  // .order__radio-elem:focus {
  //   background: rgb(136, 132, 132); 
  //   border: 1px solid $yellow;
  // }

  .order__form-buttons{
    margin-left: rem(3);
  }
  .order__form-input_textarea {
  height: rem(110);
  resize: none;
  }

  .order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: rem(20);
  cursor: pointer;
  display: flex;
  align-items: center;
  }
 

  // .order__radio-elem {
  
  // position: absolute;
  // top: 0;
  // left: rem(-9999);
 
  
  // }

  // .order__radio-fake {
  // width: rem(16);
  // height: rem(16);
  // border-radius: 50%;
  // background:$white;
  // position: relative;
  // &:after {
  // content: "";
  // display: block;
  // position: absolute;
  // width: rem(0);
  // height: rem(0);
  // border-radius: 50%;
  // background: $orange;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // transition: width .3s, height .3s;
  // }
  // }

  // .order__radio-elem:checked {
  // &+.order__radio-fake {
  // &:after {
  // width: rem(8);
  // height: rem(8);
  // }
  // }
  // }

  .order__radio-title {
  font-size: rem(14);
  color: $white;
  font: 300 ubuntulight;
  margin-left: rem(10);
  }


  .order__form-button {
  margin-right: rem(20);
  border: 0;
  background: $orange;
  text-transform: uppercase;
  border-radius: rem(5);
  color: $white;
  font:rem( 13 )300 ubuntumedium;
  padding:rem( 10 ) rem(15);
  cursor: pointer;
  }

  .order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
  }