$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;

.points{
    position: fixed;
    display: flex;
    flex-direction: column;
    top:rem(91px);
    right: rem(50px);
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1000;
    }
    .points__item{
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    position: relative;
    &:after{
    content: "";
    width: rem(6px);
    height: rem(6px);
    position: absolute;
    border-radius: 50%;
    background: $white;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
    }
    &:hover{
    border:rem( 1px )solid $white;
    
    }
    }