$orange: #e25028;
$yellow: #f8b43a;
$green: #8ac03e;
$dark: #2f3234;
$white:#ffff;

.team {
    background: url('../img/bg/bg-team.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    min-height: rem(650px);
    height: 100vh;
    }
    .team-acco{
      margin: rem(0px);
      padding: rem(0px);
      list-style: none;
    }
    .team-acco__pic-img{
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    margin-right: rem(30px);
    }
    .section-title{
    color: $yellow;
    font: 400 rem(72px) gagalinregular;
    }
    // .team-acco__trigger{
    // font: 400 rem(14px) gagalinregular;
    // color: $white;
    // text-decoration: none;
    // }
    .team-acco__text-title{
    font: 700 rem(14px) ubuntulight;
    color: $white;
    }
    .team-acco__text-content{
    font:300 rem(14px) ubuntulight;
    color: $white;
    }
    .team__container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(70px);
    display: flex;
    flex-direction: column;
    padding-top: rem(50px);
    
    }
    .team-acco__content {
    display: flex;
    padding-top: rem(17px);
    padding-bottom: rem(41px);
    }
    .team-acco__content {
    display: none;
    }
    .team-acco__item_active {
    .team-acco__trigger {
    color: $yellow;
    }
    .team-acco__content {
    display: -webkit-inline-flex;
    }
    }


    .team-acco__item{
      margin: rem(35px);
      & :before{
        content: "";
        display: inline-block;
        width: rem(0px);
        height: rem(0px);
        border-left: rem(6px) solid transparent;
        border-right: rem(6px) solid transparent;
        border-bottom: rem(12px) solid $orange;
        vertical-align: middle;
      }
    }
      
    